
/*
 * Global reset
 */

html { font-size:100%; }
html,body,form,fieldset,h1,h2,h3,h4,h5,h6,p,pre,blockquote,ul,ol,dl,dt,dd,li,address,dd,dtm,div,td,th,hr { margin:0; padding:0; }
ul,li { list-style-type:none; }
body { font:62.5% Helvetica,Arial,Tahoma,Verdana,Helvetica,sans-serif; background-color:white; }

/*
 * Layout
 */

h1.error { width:306px; }
.message_block { width:320px; margin:200px auto 0; }
.message_block p { font-size:12px; line-height:150%; color:#333; width:207px;  padding-bottom:10px; }
.message_block .content { margin-left:-45px; }

/*
 * Errors
 */

#error-content { background:white; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow:0 0 10px #999; -webkit-box-shadow:0 0 10px #999; box-shadow:0 0 10px #999; border:1px solid #999; }
#error-content p.last { padding-bottom:0; }
#error-content ul,#error-content li { list-style-type:none; }
h1 { background:#777; color:white; font-size:19px; padding:10px; margin-top:-2px; -moz-border-radius-topright:5px; -moz-border-radius-topleft:5px; -webkit-border-top-right-radius:5px; -webkit-border-top-left-radius:5px; border-top-right-radius:5px; border-top-left-radius:5px; }
#error-wrapper { padding:10px; }
p.error { background:#feeec4; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:5px 10px; border:2px solid #f0d379; color:#6a5228; margin-bottom:15px; font-size:15px; }
div.hint { margin-bottom:15px; }
div.hint h3 { -moz-border-radius-topright:5px; -moz-border-radius-topleft:5px; -webkit-border-top-right-radius:5px; -webkit-border-top-left-radius:5px; border-top-right-radius:5px; border-top-left-radius:5px; background:#b2b2b2 url(../images/lightbulb.png) no-repeat 7px 8px; color:white; padding:8px 10px 8px 28px; }
div.hint p { background:#f2f2f2; padding:8px 10px; color:#444444; border-bottom:1px solid #e0e0e0; border-left:1px solid #e0e0e0; border-right:1px solid #e0e0e0; -moz-border-radius-bottomright:5px; -moz-border-radius-bottomleft:5px; -webkit-border-bottom-right-radius:5px; -webkit-border-bottom-left-radius:5px; border-bottom-right-radius:5px; border-bottom-left-radius:5px; }

/*
 * Column view table
 */

table.column_view { border-collapse:collapse; width:100%; margin-bottom:15px; }
table.column_view td,table.column_view th { text-align:left; vertical-align:top; padding:4px 6px; font-size:12px; line-height:150%; font-weight:normal; }
table.column_view th { background:#999; color:white; width:10%; border-bottom:1px solid white; border-right:1px solid white; white-space:nowrap; }
table.column_view td { background:#eee; color:#666666; border-bottom:1px solid white; }
table.column_view tr.last td
table.column_view tr.last th { border-bottom:none; }
table.column_view tr.last th { -moz-border-radius-bottomleft:5px; -webkit-border-bottom-left-radius:5px; border-bottom-left-radius:5px; }
table.column_view tr.first th { -moz-border-radius-topleft:5px; -webkit-border-top-left-radius:5px; border-top-left-radius:5px; }
table.column_view tr.last td { -moz-border-radius-bottomright:5px; -webkit-border-bottom-right-radius:5px; border-bottom-right-radius:5px; }
table.column_view tr.first td { -moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px; border-top-right-radius:5px; }

/*
 * Details block
 */

div.details { background:#f2f2f2; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin-bottom:15px; padding:10px; }
div.details.last { margin-bottom:0; }
div.details h3 { font-size:12px; -moz-border-radius-topright:5px; -moz-border-radius-topleft:5px; -webkit-border-top-right-radius:5px; -webkit-border-top-left-radius:5px; border-top-right-radius:5px; border-top-left-radius:5px; background:#AAA; color:white; padding:8px 10px; }

/*
 * Code highlighter
 */

div.details div.code { background:white; font-size:1.5em; border-bottom:1px solid #dadada; }
.syntaxhighlighter .line.alt2 .content { background-color:#ffffff!important; }
div.details div.code .syntaxhighlighter { line-height:1.3em!important; margin:0!important; padding:0!important; }
div.details .syntaxhighlighter .line .content { border-left:1px solid #ccc!important; }
div.details .syntaxhighlighter .line.highlighted .number { background-color:#b23232!important; color:white!important; }
div.details .syntaxhighlighter .line.highlighted code { color:white!important; }
div.details .syntaxhighlighter .line .number { background-color:#e5e5e5!important; }
div.details .syntaxhighlighter .line.highlighted.alt1 .content,div.details .syntaxhighlighter .line.highlighted.alt2 .content,div.details .syntaxhighlighter .line.highlighted:hover.alt1 .content,div.details .syntaxhighlighter .line.highlighted:hover.alt2 .content,div.details .syntaxhighlighter .line.highlighted .script { background-color:#b23232!important; }
div.details .syntaxhighlighter .line:hover.alt1 .content,div.details .syntaxhighlighter .line:hover.alt2 .content { background-color:#ddd!important; }
div.details .syntaxhighlighter .line .content .block { background:transparent!important; }
div.details .syntaxhighlighter .line .content .block { padding-left:0!important; text-indent:0!important; }

/*
 * Call stack
 */

table.call_stack { border-collapse:collapse; width:100%; }
table.call_stack thead th { background:#aaa; color:white; border-right:1px solid #E0E0E0; }
table.call_stack thead th.first { -moz-border-radius-topleft:5px; -webkit-border-top-left-radius:5px; border-top-left-radius:5px; }
table.call_stack thead th.last { -moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px; border-top-right-radius:5px; border-right:none; }
table.call_stack td,table.call_stack th { padding:4px 6px; font-size:12px; line-height:150%; text-align:left; vertical-align:top; }
table.call_stack tbody td { background:#fff; border-right:1px solid #E0E0E0; border-left:1px solid #E0E0E0; color:#333; }
table.call_stack tbody tr.even td { background:#f6f6f6; }
table.call_stack tbody tr:hover td { background:#ddd; }
table.call_stack tbody tr.last td { border-bottom:1px solid #E0E0E0; }
table.call_stack .record_number { width:20px; }
table.call_stack span.arguments { color:#666666; }
.error-box #error-content { background:transparent; -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; border:none; }
.error-box h1 { display:none; }
.error-box #error-wrapper { padding:0; margin-top:5px; }