
.folderList ol ol { margin-left:35px; }
.folderList ol li { font:normal 11px/100% Arial,Verdana,Helvetica,sans-serif;background-color:#FAFAFA; }
.folderList ol li.current a { color:white!important; }
.folderList ol li.even { background-color:#eee; }
.folderList ol li div.item { padding:5px 0; }
.folderList ol li div.item > span.title a { padding-left:35px; }
.folderList ol li.root a { font-weight:bold; }
.folderList ol li.root a span { font-weight:normal; }
.folderList ol li.root.theme span.folder_item { background-image:url('../images/icons/folder_palette.png'); }
.folderList ol li.placeholder { background-color:#cfcfcf;height:27px; }

.folderList ol li a { float:right; display:block; padding:3px; font-weight:normal; text-decoration:none; color:#444; margin-right:5px; }
.folderList ol li a.icon.delete { background-repeat:no-repeat; text-indent:-9999px; line-height:0; overflow:hidden; width:16px; height:16px; }

.folderList ol li div.item > span.title { background:transparent url('../images/icons/link.png') no-repeat 10px top;display:inline-block;position:relative; }
.folderList ol li div.item > span.title.Cms_Page { background-image:url('../images/icons/file_icons/text.png'); }
.folderList ol li div.item > span.title.Shop_Category { background-image:url('../images/icons/page_white_stack.png'); }
.folderList ol li div.item > span.title.Shop_Product { background-image:url('../images/icons/store.png'); }
.folderList ol li div.item > span.title.Blog_Category { background-image:url('../images/icons/folder_edit.png'); }
.folderList ol li div.item > span.title.Blog_Post { background-image:url('../images/icons/icon_edit.gif'); }
.folderList ol li div.item > span.title.Cms_Partial { background-image:url('../images/icons/application_view_columns.png'); }

